<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Arbortrary Login</title>
</head>
<body>
    <!-- LOGIN PAGE -->
    <div class="container">
        <div>
            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <h3>{{message}}</h3>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="row">
            <div class="row vh-100 justify-content-center align-items-center">
                <div class="col-lg-8 col-md-6 col-sm-4 border rounded">
                    <h1 class="text-center">Arbortrary</h1>

                    <form action="/login" method="POST">

                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control mb-2" name="email">

                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control mb-2" name="password">

                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="/register/" class="text-muted">Not a Member?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>