<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Arbortrary</title>
</head>
<body>
    <div class="container">

                <!-- Nav -->
        <div class="row ">
            <div class="col-7">
                <h1>Arbortrary</h1>
                <p></p>
            </div>
            <div class="col-2 text-end ">
                <a href="/mytrees">My Tree</a>
            </div>
            <div class="col-3 text-end ">
                <h3>Welcome! {{user.first_name}}</h3>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-9">
                <p>A site to track randomly Planted Trees</p>
            </div>
            <div class="col-3 text-end  mb-2">
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                <a href="" class="btn btn-primary">Log Out</a>
            </div>
        </div>

        <!-- Form  -->
        <div class="row mt-2">
            <h1>Arbitrarily Plant a Tree</h1>
            <div class="col-6">
                <form action="/addTree" method="POST">
                    <label for="species" class="form-label" >Species</label>
                    <input type="text" name="species" class="form-control">
    
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="location" class="form-control">

                    <label for="reason" class="form-label">Reason</label>
                    <textarea name="reason" id="" cols="20" rows="5" class="form-control mb-2"></textarea>
    
                    <label for="dateplanted" class="form-label">Date Planted</label>
                    <input type="date" name="dateplanted" class="form-control">
    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>